In [1]:
import pandas as pd

In [2]:
a = pd.read_csv(os.path.abspath("../input")+'/submission_1등.csv')
a['age1'] = a['age']*3
del a['age']

In [3]:
b = pd.read_csv(os.path.abspath("../input")+'/submission_2등.csv')
b['age2'] = b['age']*3
del b['age']

In [4]:
c = pd.read_csv(os.path.abspath("../input")+'/submission_3등.csv')
c['age3'] = c['age']*4
del c['age']

In [5]:
df = a.merge(b, how='left',on='custid').merge(c, how='left',on='custid')
df['age'] = (df['age1']+df['age2']+df['age3'])/10
del df['age1']
del df['age2']
del df['age3']
df

       custid        age
0       30001  37.700206
1       30002  41.288485
2       30003  28.114336
3       30005  30.833585
4       30007  24.352379
...       ...        ...
14375   49988  35.169987
14376   49990  35.663224
14377   49992  35.691638
14378   49993  33.750471
14379   49994  26.873162

[14380 rows x 2 columns]

In [6]:
df.to_csv('1,2,3등 서브미션 가중평균(3,3,4).csv', index=False)